
h3{
                text-align: center;
                color: #000000;
            }
nav{
    margin-bottom: 1.5em;
    }
.nav-button{
    padding: 1em;
    background-color: rgb(131, 182, 142);
    color: rgb(133, 0, 100);
    border-radius: 1.5em;
            }
.main-photo{
    max-width: 20vw;
}
.column-left{
    width: 60vw;
    background: rgb(255, 255, 255);
              }
.column-right{
                width: 35vw;
                background-color: rgb(129, 161, 130);
                padding-top: 2em;
                padding-left: 4em;
                padding-right: 4em;
                margin-right: 2em;
                color: black;
}
    td {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
        }
 .column-3{
    width: 33vw;
    background-color: #ffffff;
            }
.small-photo{
    max-width: 20vw;
}
#workexperience {
    border: 2px solid rgb(218, 12, 132);
    border-collapse: collapse; 
    /* note- border-collapse from https://www.w3schools.com/cssref/pr_border-collapse.php */
}

#workexperience th, #workexperience td {
    border: 1px solid rgb(255, 7, 189);
    padding: 10px;
}
#about-me-text{
    padding-left: 1em;
    font-weight: bolder
}
#Headingschool{
    padding-left: 1em;
    font-weight: bolder
}